@charset "UTF-8";



@media all and (max-width:720px) {
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* GENERAL */
/* ------------------------------------------------------------------------------------------------------------------ */

.app {
    font-family: Muli;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* STEPS */
/* ------------------------------------------------------------------------------------------------------------------ */
.tqb-step {
    margin: auto;
    border-radius: 8px;
}

.tqb-step-2 {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* BUTTONS */
/* ------------------------------------------------------------------------------------------------------------------ */

/* General */
.tqb-button-container {  
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.centered {
    text-align: center;
}


/* Default */
.tqb-button {
    background-color: #e6e6e6;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    outline: 0 !important;
    text-align: center;
}

.tqb-option-add {
    background-color: #e6e6e6;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px;
    flex: 0 0 20px; /*flex: 0 0 40px;*/
    height: 20px; /*height: 40px;*/
    align-content: center;
}

.tqb-option-remove {
    background-color: #e6e6e6;
    border-radius: 5px;
    margin-left: 20px;
    padding: 12px;
    flex: 0 0 16px; /*flex: 0 0 40px;*/
    height: 16px; /*height: 40px;*/
    align-content: center;
}

.tqb-option-add svg {
    width: 20px;
    height: 20px;
}
	
.tqb-option-remove svg {
    width: 16px;
    height: 16px;
}

.tqb-option-add svg, .tqb-option-remove svg {
    vertical-align: text-top;
}


/* Active */
.tqb-button:active {
    background-color: #0bb400;
    color: #fff;
    cursor: pointer;
}

.tqb-option-remove:active {
    background-color: #b70101;
    cursor: pointer;
}

.tqb-option-add:active {
    background-color: #0bb400;
    cursor: pointer;
}

.tqb-option-add svg line,
.tqb-option-remove svg line {
stroke: #868c90;
}

.tqb-option-add:active svg line,
.tqb-option-remove:active svg line {
    stroke: #fff;
}


/* Hover */
/* @media (hover:hover) {
    .tqb-button:hover {
        background-color: #0bb400;
        color: #fff;
        cursor: pointer
    }

    .tqb-option-remove:hover {
        background-color: #b70101;
        cursor: pointer
    }
    
    .tqb-option-add:hover {
        background-color: #0bb400;
        cursor: pointer
    };

    .tqb-option-add:hover svg line,
    .tqb-option-remove:hover svg line {
        stroke: #fff
    }
} */

/* Hover */
@media (hover:hover) {
    .tqb-button:hover {
        background-color: #0bb400;
        color: #fff;
        cursor: pointer
    }

    .tqb-option-remove:hover {
        background-color: #b70101;
        cursor: pointer
    }
    
    .tqb-option-add:hover {
        background-color: #0bb400;
        cursor: pointer
    }

    .tqb-option-add:hover svg line,
    .tqb-option-remove:hover svg line {
        stroke: #fff
    }
}




/* ------------------------------------------------------------------------------------------------------------------ */








/* ------------------------------------------------------------------------------------------------------------------ */
/* FIRST PAGE */
/* ------------------------------------------------------------------------------------------------------------------ */








/* ------------------------------------------------------------------------------------------------------------------ */
/* QUESTIONS */
/* ------------------------------------------------------------------------------------------------------------------ */
.tqb-answer-inner-wrapper {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    margin: 25px auto 0;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    padding: 15px;
    display: block;
}
.tqb-answer-inner-wrapper:active {
    background-color: #008f8f;
    border: 1px solid #008f8f;
    color: #fff;
    box-shadow: 2px 2px 8px #888;
    cursor: pointer;
}
@media (hover:hover) {
    .tqb-answer-inner-wrapper:hover {
        background-color: #008f8f;
        border: 1px solid #008f8f;
        color: #fff;
        box-shadow: 2px 2px 8px #888;
        cursor: pointer
    }
}



/* ------------------------------------------------------------------------------------------------------------------ */


















.tqb-criteria-text {
    font-size: 42px;
}




.tqb-question-text {
    font-size: 28px;
}

.tqb-comparison-text {
    font-size: 28px;
}

.tqb-criteria-text,
.tqb-question-text {
    margin: 15px 0;
    font-weight: 400;
    line-height: 1em;
}

.tqb-answer-text:before {
    left: 0;
    top: 0;
    content: '';
    position: absolute;
}

.tqb-answer-text:before {
    background: url(https://charismaforthepeople.com/wp-content/plugins/thrive-quiz-builder/tcb-bridge/editor-templates/css/img/tqb-first-style-selected.png) center no-repeat;
    height: 28px;
    width: 18px;
}

.tqb-option-inner-wrapper,
.tqb-option-input-wrapper {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    text-align: left;
    font-size: 18px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 0 !important;
}

.tqb-option-input-wrapper input, .tqb-option-input-wrapper textarea {
    background-color: transparent;
}

.tqb-option-criteria-input {
    width: 100% !important;
    word-break: break-all;
    overflow-wrap: break-word;
}

.tqb-option-criteria-input,
.tqb-option-input {
    width: 100%;
    font-size: inherit;
    padding: 15px;
    font-family: inherit;
    position: relative;
    font-weight: 300;
    line-height: inherit;
    word-break: break-all;
    border: none !important;
    outline: 0 !important;
}

.tqb-answer-text,
.tqb-option-text,
.tqb-result-text {
    position: relative;
    line-height: 28px;
    flex-direction: column;
}

.tqb-answer-text {
    padding-left: 30px;
    word-break: break-word;
}

.tqb-option-text {
    padding-left: 15px;
    word-break: break-word;
}

.tqb-result-text.ranking {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    flex: 2 1 5%;
}

.tqb-result-text.percentage {
    text-align: right;
    width: 10%;
    margin-left: 20px;
    margin-right: 50px;
    flex: 2 0 5%;
}

.tqb-result-text.option {
    text-align: left;
    word-break: break-all;
    flex: 3 3 80%;
}






/* ------------------------------------------------------------------------------------------------------------------ */
/* RESULTS */
.tqb-result-inner-wrapper {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    background-color: rgb(11, 180, 0, 10%);
    font-size: 18px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rank-1 {
    background-color: rgb(11, 180, 0, 100%);
    color: #fff;
    font-weight: bolder;
}

.rank-2 {
    background-color: rgb(11, 180, 0, 80%);
    color: #fff;
    font-weight: bolder;
}

.rank-3 {
    background-color: rgb(11, 180, 0, 60%);
    color: #fff;
    font-weight: bolder;
}

.rank-4 {
    background-color: rgb(11, 180, 0, 40%);
}

.rank-5 {
    background-color: rgb(11, 180, 0, 20%);
}
/* ------------------------------------------------------------------------------------------------------------------ */











/* ------------------------------------------------------------------------------------------------------------------ */
/* SPECIFIC */

/* ------------------------------------------------------------------------------------------------------------------ */
/* WEDGES */

@font-face {
    font-family: Coves;
    src: url("https://charismaforthepeople.com/wp-content/uploads/2020/10/Coves-Light.otf") format("opentype");
}

@font-face {
    font-family: Coves;
    font-weight: bold;
    src: url("https://charismaforthepeople.com/wp-content/uploads/2020/10/Coves-Bold.otf") format("opentype");
}


.pvqr-chart .pvqr-chart-wedges, .pvqr-chart .pvqr-chart-segments {
    /* font-family: Coves; */
    font-family: Muli;
}




.pvqr-chart-wedge-filling {
    transition: .5s;
}




.pvqr-chart-wedge-graduation {
    stroke-width: 2;
    stroke-opacity: .25;
    stroke-dasharray: 2 2;
}

.pvqr-chart-wedge:hover .pvqr-chart-wedge-graduation {
    stroke-width: 2;
    stroke-opacity: .5;
    stroke-dasharray: 2 2;
}

.pvqr-chart-wedge:hover .pvqr-chart-wedge-outline {
    stroke-width: 2;
}


.pvqr-chart-ring-segment .pvqr-chart-ring-wedge-overlay {
/*     stroke-width: 4; */
}

.pvqr-chart-ring-segment-graduation {
    stroke-width: 2;
    stroke-opacity: .25;
    stroke-dasharray: 2 2;
}

.pvqr-chart-ring-segment:hover .pvqr-chart-segment-graduation {
    stroke-width: 2;
    stroke-opacity: .5;
    stroke-dasharray: 2 2;
}

.pvqr-chart-ring-segment-shaded-area {
    fill: #000;
    fill-opacity: 0;
}

.pvqr-chart-ring-segment:hover .pvqr-chart-ring-segment-shaded-area {
    fill-opacity: .125;
    transition: 1s;
}

.pvqr-chart-ring-segment-shaded-curve {
    stroke: #000;
    stroke-opacity: 0;
}

.pvqr-chart-ring-segment:hover .pvqr-chart-ring-segment-shaded-curve {
    stroke-opacity: .5;
    transition: 1s;
}

.pvqr-chart-ring-wedge-overlay {
    pointer-events: none;
}

.pvqr-chart-ring-segment:hover .pvqr-chart-ring-segment-outline {
    stroke-width: 4;
}




.pvqr-chart-ring-segment-filling {
    transition: .5s;
}




.pvqr-chart-wedge-shaded-area {
    fill: #000;
    fill-opacity: 0;
}

.pvqr-chart-wedge:hover .pvqr-chart-wedge-shaded-area {
    fill-opacity: .125;
    transition: 1s;
}

.pvqr-chart-wedge-shaded-curve {
    stroke: #000;
    stroke-opacity: 0;
}

.pvqr-chart-wedge:hover .pvqr-chart-wedge-shaded-curve {
    stroke-opacity: .5;
    transition: 1s;
}
